---
- name: Installazione pacchetti necessari per Python
  ansible.builtin.apt:
    name:
      - python3
      - python3-full
      - python3-pip
      - python3-venv
    state: present
    update_cache: yes

- name: Creazione virtual env del progetto clonato
  ansible.builtin.command: python3 -m venv /home/vagrant/predictive_deception

- name: Installare requirements nel virtual env senza caching pip
  ansible.builtin.command:
    cmd: /home/vagrant/predictive_deception/bin/pip install -r /home/vagrant/predictive_deception/requirements.txt
  environment:
    PIP_NO_CACHE_DIR: "1"
