# Ignora tutti i file Cowrie JSON log
cowrie_*.json
*.jsonl

# Ignora cartelle di dataset o output
data/
output/
results/
logs/
chroma_storage*/
deception/



# Ignora notebook temporanei
*.ipynb_checkpoints/

# Ignora file di sistema o IDE
.DS_Store
*.log
__pycache__/
*.pyc
host.key

# Ignora installer Google Cloud CLI
google-cloud-cli*
google-cloud-sdk/