---
- name: "Creazione utente user (password sudo = marmellatadiprugne)"
  user:
    name: user
    password: "{{ 'marmellatadiprugne' | password_hash('sha512') }}"
    shell: /usr/local/bin/fakeshell
    createhome: yes

- name: "Impostazione password sudo per user"
  copy:
    dest: /etc/sudoers.d/user
    content: "user ALL=(ALL) ALL"
    owner: root
    group: root
    mode: '0440'

- name: "Trasferimento dello script fakeshell"
  copy:
    src: fakeshell.py
    dest: /usr/local/bin/fakeshell
    mode: '0755'
    owner: root
    group: root

- name: "Creazione file /var/log/fakeshell.json -> contiene tutti i comandi inseriti nel terminale fake"
  file:
    path: /var/log/fakeshell.json
    state: touch
    owner: root
    group: root
    mode: '0666'

- name: "Aggiungi authorized_keys per user usando la private_key di Vagrant"
  authorized_key:
    user: user
    state: present
    key: "{{ lookup('pipe', 'ssh-keygen -y -f .vagrant/machines/honeypot/virtualbox/private_key') }}"

- name: "Modifica SSHD per permettere login senza password allo user"
  blockinfile:
    path: /etc/ssh/sshd_config
    block: |
        Match User user
            PasswordAuthentication no
            PubkeyAuthentication yes
            KbdInteractiveAuthentication no
  notify: Riavvia ssh